<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Play-Along Assistant</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <div class="Header">
    <h1>Play-Along Assistant</h1>
    <body>
        <p>Download any audio track from Youtube and add loop points to help you practise!</p>
        <form method="POST">
            <label for="youtube_url">Youtube URL</label>
            <input type="url" name="youtube_url" id="youtube_url">
            <input type="submit" value="Submit">
        </form>
    </body>
  </div>

  <h2 class="track-title">Track Gallery</h2>

  <table class="track-gallery">
      <thead>
          <tr>
              <th>Artist</th>
              <th>Song</th>
              <th>Album</th>
              <th>Album Cover</th>
              <th>Link to wave page</th>
          </tr>
      </thead>
      <tbody>
      {% for track in track_data %}
      <tr>
          <td>{{ track.artist }}</td>
          <td>{{ track.track_name }}</td>
          <td>{{ track.track_album }}</td>
          <td>
            <div class="thumb-wrap">
              <img src="{{ track.thumbnail }}" alt="thumbnail">
            </div>
          </td>
          <td>
            <a href="{{ url_for('wave_audio', song_name=track.track_name) }}" class="play-link">
              <button type="button">Go to</button>
            </a>  
          </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</html>
