<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Play-Along Assistant</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <div class="Header">
    <h1>Play-Along Assistant</h1>
    <body>
        <p>Download any audio track from Youtube and add loop points to help you practise!</p>
        <form method="POST">
            <label for="youtube_url">Youtube URL</label>
            <input type="url" name="youtube_url" id="youtube_url">
            <input type="submit" value="Submit">
        </form>
    </body>
  </div>
</html>
